.contact-section
{
    margin-top: 50px;
    background:#000;
    padding:80px 20px;
    display:flex;
    justify-content:center;
}

.contact-container
{
    width:500px;
    text-align:center;
}

.contact-title
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    font-size:35px;
    margin-bottom:10px;
}

.contact-desc
{
    color:#9a9a9a;
    font-size:14px;
    line-height:1.6;
    margin-bottom:40px;
}

.contact-form
{
    text-align:left;
}

.input-group
{
    margin-bottom:20px;
}

.input-label
{
    display:block;
    color:white;
    font-size:14px;
    margin-bottom:6px;
}

.input-field
{
    width:100%;
    padding:12px;
    border-radius:5px;
    border:none;
    background:#d9d9d9;
    font-size:14px;
}

.message-field
{
    width:100%;
    height:140px;
    padding:12px;
    border-radius:5px;
    border:none;
    background:#d9d9d9;
    font-size:14px;
    resize:none;
}

.submit-btn
{
    
    width:100%;
    padding:15px;
    background:#3a8f00;
    border:none;
    border-radius:6px;
    color:white;
    font-size:16px;
    cursor:pointer;
    margin-top:10px;
    box-shadow:0px 0px 20px rgba(0,255,0,0.4);
}

.submit-btn:hover
{
    background:#45a600;
}

.arrow
{
    margin-left:5px;
}



/* Tablet */
@media (max-width:1024px){

.contact-container{
    width:80%;
}

.submit-btn{
    width:100%;
}

}


/* Mobile */
@media (max-width:768px){

.contact-section{
    padding:60px 20px;
}

.contact-container{
    width:100%;
}

.contact-title{
    font-size:28px;
}

.contact-desc{
    font-size:13px;
}

.submit-btn{
    width:100%;
    padding:14px;
}

}


/* Small Mobile */
@media (max-width:480px){

.contact-title{
    font-size:24px;
}

.contact-desc{
    font-size:12px;
    line-height:1.5;
}

.input-field{
    padding:10px;
}

.message-field{
    height:120px;
}

.submit-btn{
    font-size:14px;
    padding:12px;
}

}